waveshaper-display {
    background-color: #222324;
    border-color: #848483;
    color: #ff5353;
    caret-color: #f7f7f7;
}

param-button {
    width: 180px;
    child-left: 1s;
    child-right: 1s;
    background-color: #222324;
    border-width: 0;
    color: #f7f7f7;
    transition: background-color 0.1 0;
    font-size: 18px;
}
param-button:hover {
    background-color: #848483;
    transition: background-color 0.1 0;
}
param-button:checked {
    background-color: #ff457e;
    transition: background-color 0.1 0;
}
param-button:checked:hover {
    background-color: #bf3561;
    transition: background-color 0.1 0;
}

param-slider {
    background-color: #222324;
    border-width: 0;
    transition: background-color 0.1 0;
    font-size: 18px;
}
param-slider:hover {
    background-color: #848483;
    transition: background-color 0.1 0;
}
param-slider:active {
    background-color: #848483;
    transition: background-color 0.1 0;
}
param-slider .fill {
    background-color: #ff5353;
}
param-slider .fill--modulation {
    background-color: #bf3f3f;
}

.params {
    background-color: #222324;
    color: #f7f7f7;
    font-size: 18px;
}
.params scrollbar {
    background-color: #222324;
}
.params scrollbar .thumb {
    background-color: #848483;
    transition: background-color 0.1 0;
}
.params scrollbar .thumb:hover {
    background-color: #f7f7f7;
    transition: background-color 0.1 0;
}

.header {
    color: #f7f7f7;
    font-size: 20px;
}

.footer {
    background-color: #222324;
    color: #ff5353;
    font-size: 18px;
}